@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Main Slider-->
<section class="main-slider">

    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>


                <li class="gradient-overlay" data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="../Content//images/main-slider/1.jpg" data-saveperformance="off" data-title="Awesome Title Here">
                    <img src="../Content//images/main-slider/1.jpg" alt="website development in brampton" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">


                    <div class="tp-caption sfl sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="-100"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><h3>Welcome to Only4Agents</h3></div>

                    <div class="tp-caption sfl sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="-40"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><h2>Digital Edge Your Business Deserves</h2></div>

                    <div class="tp-caption sfl sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="25"
                         data-speed="1500"
                         data-start="1000"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn">
                        <div class="text">
                            At Only4Agents, we love what we do. We strive to be exceptional.
                            We are fanatical. <br />about good clean design, integrated strategies, well-crafted content, and propitious results.

                        </div>
                    </div>

                    <div class="tp-caption sfr sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="110"
                         data-speed="1500"
                         data-start="1500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><a href="#" class="theme-btn btn-style-one">Services</a></div>

                    <div class="tp-caption sfr sfb tp-resizeme"
                         data-x="left" data-hoffset="170"
                         data-y="center" data-voffset="110"
                         data-speed="1500"
                         data-start="2000"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><a href="~/Home/Contact" class="theme-btn btn-style-two">Contact Us</a></div>


                </li>

                <li class="gradient-overlay" data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="../Content//images/main-slider/2.jpg" data-saveperformance="off" data-title="Awesome Title Here">
                    <img src="../Content//images/main-slider/2.jpg" alt="pay per click advertising company" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">


                    <div class="tp-caption sft sfb tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="-110"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><h3>Welcome to Only4Agents</h3></div>

                    <div class="tp-caption sfb sfb tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="-45"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><h2> Digital Solutions for your Business</h2></div>

                    <div class="tp-caption sfb sfb tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="25"
                         data-speed="1500"
                         data-start="1000"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn">
                        <div class="text text-center">
                            Innovative & Improvising at every step,
                            our highly recommend approach is extraordinary, lucrative, and personalized for empowering your business.
                        </div>
                    </div>

                    <div class="tp-caption sfl sfb tp-resizeme"
                         data-x="center" data-hoffset="-70"
                         data-y="center" data-voffset="115"
                         data-speed="1500"
                         data-start="1500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><a href="#" class="theme-btn btn-style-one">Services</a></div>

                    <div class="tp-caption sfr sfb tp-resizeme"
                         data-x="center" data-hoffset="70"
                         data-y="center" data-voffset="115"
                         data-speed="1500"
                         data-start="2000"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><a href="~/Home/Contact" class="theme-btn btn-style-two">Contact Us</a></div>


                </li>

                <li class="gradient-overlay" data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="../Content//images/main-slider/1.jpg" data-saveperformance="off" data-title="Awesome Title Here">
                    <img src="../Content//images/main-slider/1.jpg" alt="real estate website design agency" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">


                    <div class="tp-caption sfl sfb tp-resizeme"
                         data-x="right" data-hoffset="-15"
                         data-y="center" data-voffset="-100"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><h3>Welcome to Only4Agents</h3></div>

                    <div class="tp-caption sfl sfb tp-resizeme"
                         data-x="right" data-hoffset="-15"
                         data-y="center" data-voffset="-40"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><h2>Provide Best Guidance</h2></div>

                    <div class="tp-caption sfl sfb tp-resizeme"
                         data-x="right" data-hoffset="-15"
                         data-y="center" data-voffset="25"
                         data-speed="1500"
                         data-start="1000"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><div class="text text-right">We are creative technologists, endeavoring to help <br />organizations reach their full potential.</div></div>

                    <div class="tp-caption sfr sfb tp-resizeme"
                         data-x="right" data-hoffset="-15"
                         data-y="center" data-voffset="110"
                         data-speed="1500"
                         data-start="1500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><a href="services" class="theme-btn btn-style-one">Services</a></div>

                    <div class="tp-caption sfr sfb tp-resizeme"
                         data-x="right" data-hoffset="-170"
                         data-y="center" data-voffset="110"
                         data-speed="1500"
                         data-start="2000"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><a href="~/Home/Contact" class="theme-btn btn-style-two">Contact us</a></div>


                </li>

            </ul>

            <div class="tp-bannertimer"></div>
        </div>
    </div>
</section>


<!--Intro Style One-->

<div class="container">
<div class="row">
<div  class="col-sm-12 col-md-12">
<div class="text-title">

<h1>Only4Agents</h1>
</div>
</div>
</div>
</div>

<section class="intro-style-one">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Featured Style One -->
            <div class="column featured-style-one col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeIn" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <figure class="image-box"><a href="#"><img src="../Content//images/resource/featured-image-1.jpg" alt="Real Estate Websites"></a></figure>
                    <div class="lower-content">
                        <h3><a href="#">Real Estate Websites</a></h3>
                        <div class="text">Are you ready for a new website? Since 2013, Only4Agents has been the leading real estate web development & designing company for the real estate industry helping companies create and manage their online presence.

 </div>
                        <a href="~/Home/Realestatewebsites" class="read-more">Learn More <span class="icon flaticon-arrows-1"></span></a>
                    </div>
                </div>
            </div>

            <!--Featured Style One -->
            <div class="column featured-style-one col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeIn" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <figure class="image-box"><a href="#"><img src="../Content//images/resource/featured-image-2.jpg" alt="website development company brampton"></a></figure>
                    <div class="lower-content">
                        <h3><a href="#">Web Development</a></h3>
                        <div class="text">
                            Your website's design is the reflection of your business; It is not only about looks and feel but it is also about how it works. Our website development professionals identify the value of the architecture design.
                        </div>
                        <a href="~/Home/Otherwebdevelopment" class="read-more">Learn More <span class="icon flaticon-arrows-1"></span></a>
                    </div>
                </div>
            </div>

            <!--Featured Style One -->
            <div class="column featured-style-one col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeIn" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <figure class="image-box"><a href="#"><img src="../Content//images/resource/featured-image3.jpg" alt="seo company in brampton"></a></figure>
                    <div class="lower-content">
                        <h3><a href="#">SEO</a></h3>
                        <div class="text">
                            Search Engine Optimization is the process involved in increasing the ranking of your website in various search engines including Google, Bing, Yahoo, and more.

 We offer different SEO packages that suit all companies. 
                        </div>
                        <a href="~/Home/Seoservices" class="read-more">Learn More <span class="icon flaticon-arrows-1"></span></a>
                    </div>
                </div>
            </div>

            <!--Featured Style One -->
            <div class="column featured-style-one col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeIn" data-wow-delay="900ms" data-wow-duration="1500ms">
                    <figure class="image-box"><a href="#"><img src="../Content//images/resource/featured-image-3.jpg" alt="pay per click advertising company"></a></figure>
                    <div class="lower-content">
                        <h3><a href="#">PPC</a></h3>
                        <div class="text">
Pay-Per-Click (PPC) advertising is one of the most effective strategies for promoting your company and generating leads. It allows you to start driving qualified traffic to your agency website very quickly.


                        </div>
                        <a href="~/Home/ppcAdvertisingServices" class="read-more">Learn More <span class="icon flaticon-arrows-1"></span></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<div class="auto-container"><hr class="no-margin-top no-margin-bottom"></div>


<!--Default Section-->
<section class="default-section padd-bott-50">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Skills -->
            <div class="column col-md-6 col-sm-12 col-xs-12">
                @*<div class="default-title"><h2>Our Skills</h2></div>*@
                <!--Progress Levels-->
                <article class="inner-box wow fadeInRight padd-right-30" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <figure class="image-box video-box">
                        <img src="../Content/images/google_1.jpg" alt="Google Certified Partner">
                    </figure>
                </article>
            </div>

            <!--Text Column -->
            <div class="column text-column col-md-6 col-sm-12 col-xs-12">
                <div class="default-title"><h2>About Us</h2></div>
                <div class="inner-box">
                    <div class="text">
                        <p>
                            <strong>
                                The brain behind "Only4Agents" is of a team of highly trained IT professionals having over 5 years of experience
                                in Web Industry. We specialize in Real Estate websites, Mortgage websites and Insurance websites and all of their Web solutions needs to get successful online.
                            </strong>
                        </p>
                        <p>
                            We also offer PPC and SEO Services to drive more traffic to your website.  Only4agents will help you to generate more leads, more sales and get more exposure. Our affordable Web designing and                             aggressive online marketing tools can help you get multiple gains in your business. Our each Web site is compatible with all
                            of the popular devices and browsers. Only4agents does everything for you so that you can focus on your business
                        </p>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<!--Two Column Fluid-->
<section class="two-col-fluid">
    <div class="outer-box clearfix">
        <!--Image Column-->
        <div class="image-column" style="background-image: url(../Content/images/background/image-1.jpg);"></div>

        <!--Content Column-->
        <div class="image-column" style="background-image: url(../Content/images/background/image-2.jpg);">
            <div class="inner-box">
                <div class="default-title"><h2>Why Choose Us</h2></div>

                <!--Icon Left Column-->
                <div class="icon-left-column">
                    <div class="inner">
                        <div class="icon"><span class="fa fa-check" aria-hidden="true"></span></div>
                        <h3>Outstanding Customer Support</h3>
                        <div class="text">
                            We strive to build a friendly rapport with all our customers and work together as a
                            team to develop the best solution according to the need of the customer.
                        </div>
                    </div>
                </div>

                <!--Icon Left Column-->
                <div class="icon-left-column">
                    <div class="inner">
                        <div class="icon"><span class="fa fa-thumbs-o-up" aria-hidden="true"></span></div>
                        <h3>Quality Customer Service</h3>
                        <div class="text">Our success rate is high due to the quality of services that we have been able to provide our clients.</div>
                    </div>
                </div>

                <!--Icon Left Column-->
                <div class="icon-left-column">
                    <div class="inner">
                        <div class="icon"><span class="flaticon-social-2"></span></div>
                        <h3>Talented Designers & Expert Developers</h3>
                        <div class="text">
                            Our designers and developers are very talented and are experts in their fields.
                            They each have many years of experience creating web solutions that are visually appealing and use pixel-perfect.
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
            


     


<!--Testimonials-->
<section class="testimonials-section" style="background-image: url(http://res.cloudinary.com/only4agents/image/upload/v1533121113/image-3.jpg);">
    <div class="auto-container">

        <div class="default-title centered text-center">
            <h2>Testimonials</h2>
        </div>

        <!--Slider-->
        <div class="testimonials-slider testimonials-carousel">

            <!--Slide-->
            <article class="slide-item">
                <div class="slide-text">
                    <p>“Only4Agents has helped us the best with redesigning our website. They reduced its loading time by implementing the right technology & also developed custom modules by understanding our needs. Thanks for the great services!”</p>
                </div>
                <div class="info-box">
                    <figure class="image-box"><img src="../Content//images/resource/testi-image-1.jpg" alt="Ajay Shah"></figure>
                    <h3>Ajay Shah </h3>
					                    <p class="designation">(Broker of Record)

</p>

                    
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <div class="slide-text">
                    <p>“When I needed a fresh look of my website, i approach to ONLY4AGENTS and the results are absolutely stunning. Their support staff is very helpful and corporative. I'll definitely recommend ONLY4AGENTS.”</p>
                </div>
                <div class="info-box">
                    <figure class="image-box"><img src="../Content//images/resource/testi-image-2.jpg" alt="Rajiv Datta"></figure>
                    <h3>Rajiv Datta</h3>
					                    					                    <p class="designation">(Broker of Manager)


                    
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <div class="slide-text">
                    <p>“I have designed my website from ONLY4AGENTS. They really make it fabulous and user-friendly. They have always offered me quality services. I recommend all to hire them for an incredible experience.”</p>
                </div>
                <div class="info-box">
                    <figure class="image-box"><img src="../Content//images/resource/testi-image-3.jpg" alt="Ajay Sharma"></figure>
                    <h3>Ajay Sharma </h3>
					                    					                    <p class="designation">(Sales Representative) </p>            
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <div class="slide-text">
                    <p>
 "Best team, great service and highly trained staff. They are the best design service provider for real estate websites. Go for Only4Agents for all your web solutions. I would like highly recommend to all of my colleagues.”</p>
                </div>
                <div class="info-box">
                    <figure class="image-box"><img src="../Content//images/resource/testi-image-4.jpg" alt="Amit Khurana"></figure>
                    <h3>Amit Khurana</h3>
					<p class="designation">(Mortgage Agent)</p>
                </div>
            </article>


            <!--Slide-->
            
<article class="slide-item">
                <div class="slide-text">
                    <p>“Only4Agents has helped us the best with redesigning our website. They reduced its loading time by implementing the right technology & also developed custom modules by understanding our needs. Thanks for the great services!”</p>
                </div>
                <div class="info-box">
                    <figure class="image-box"><img src="../Content//images/resource/testi-image-1.jpg" alt="Ajay Shah"></figure>
                    <h3>Ajay Shah</h3>
                    					                    <p class="designation">(Broker of Record)</p>

                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <div class="slide-text">
                    <p>“I have designed my website from ONLY4AGENTS. They really make it fabulous and user-friendly. They have always offered me quality services. I recommend all to hire them for an incredible experience.”</p>
                </div>
                <div class="info-box">
                    <figure class="image-box"><img src="../Content//images/resource/testi-image-3.jpg" alt="Ajay Sharma"></figure>
                    <h3>Ajay Sharma</h3>
                    					                    <p class="designation">(Sales Representative)</p>

                    
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <div class="slide-text">
                    <p>“Best team, great service and highly trained staff. They are the best design service provider for real estate websites. Go for Only4Agents for all your web solutions. I would like highly recommend to all of my colleagues.”</p>
                </div>
                <div class="info-box">
                    <figure class="image-box"><img src="../Content//images/resource/testi-image-4.jpg" alt="Amit Khurana"></figure>
                    <h3>Amit Khurana </h3>
					<p class="designation">(Mortgage Agent)</p>
                    
                </div>
            </article>


        </div>

    </div>
</section>


<!--Testimonials-->
<!--Parallax Section-->
<!--Sponsors Section-->
<section class="sponsors-section no-padd-top">
    <div class="auto-container">
        <div class="slider-outer">
            <!--Sponsors Slider-->
            <ul class="sponsors-slider">
                <li><a href="#"><img src="http://res.cloudinary.com/only4agents/image/upload/v1533115988/1.jpg" alt="Homelife Logo"></a></li>
                <li><a href="#"><img src="../Content//images/clients/2.jpg" alt="Real Move Realty Logo"></a></li>
                <li><a href="#"><img src="../Content//images/clients/3.jpg" alt="Coldwell Banker Logo"></a></li>
                <li><a href="#"><img src="../Content//images/clients/4.jpg" alt="Royal Lepage"></a></li>
                <li><a href="#"><img src="../Content//images/clients/5.jpg" alt="Century 21"></a></li>
                <li><a href="#"><img src="../Content//images/clients/6.jpg" alt="Re/Max"></a></li>
                <li><a href="#"><img src="http://res.cloudinary.com/only4agents/image/upload/v1533120903/7.jpg" alt="Sutton"></a></li>



            </ul>
        </div>

    </div>
</section>

<!--Two Column Fluid-->
<section class="two-col-fluid">
    <div class="outer-box clearfix">
        <!--Image Column-->
        <div class="image-column" style="background-image:url(http://res.cloudinary.com/only4agents/image/upload/v1533121311/image-4.jpg);"></div>

        <!--Form Column-->
        <div class="form-column">
            <div class="inner-box">
                <div class="default-title"><h2>Request Call Back</h2></div>

                <div class="default-form callback-form-form">
                    <form  id="contact-form">
                        <div class="row clearfix">
                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <input type="text" name="username" value="" placeholder="Your Name" >
                                <label id="message1" class="error"></label>
                            </div>
                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <input type="email" name="email" value="" placeholder="Your Email" >
                                <label id="message2" class="error"></label>
                            </div>
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <input type="text" name="phn" value="" placeholder="Your Phone Number" >
                                <label id="message3" class="error"></label>
                            </div>
                            <div class="form-group col-md-12 col-xs-12">
                                <textarea name="message" placeholder="Your Message"></textarea>
                                <label id="message4" class="error"></label>
                            </div>

                            <div class="form-group padd-top-10 col-md-12 col-sm-12 col-xs-12">
                                <button id="btnSave" type="button" class="theme-btn btn-style-four">Send Request</button>
                            </div>
                        </div>
                        </form>
</div>

            </div>
        </div>

    </div>
</section>
<script src="http://code.jquery.com/jquery-latest.min.js"
        type="text/javascript"></script>
<script>
   
		
    $(document).ready(function () {

        $('#btnSave').click(function () {
            debugger;

            if ($("input[name=username]").val() == "")
            {
                $('#message1').html('This field is required');
                $('#message2').html('');
                $('#message3').html('');
                $('#message4').html('');
            }
          else  if ($("input[name=email]").val() == "") {
              $('#message2').html('This field is required');
              $('#message1').html('');
              $('#message3').html('');
              $('#message4').html('');
            }
          else if ($("input[name=phn]").val() == "") {
              $('#message3').html('This field is required');
              $('#message1').html('');
              $('#message2').html('');
              $('#message4').html('');
            }
          else if ($("textarea[name=message]").val() == "") {
              $('#message4').html('This field is required');
              $('#message1').html('');
              $('#message3').html('');
              $('#message2').html('');
            }

            if ($("input[name=username]").val() != "" && $("input[name=email]").val() != "" && $("input[name=phn]").val() != "" && $("textarea[name=message]").val() != "") {

                $.ajax({

                    url: "/Home/Index",
                    data: { 'username': $("input[name=username]").val(), 'Email': $("input[name=email]").val(), 'phn': $("input[name=phn]").val(), 'message': $("textarea[name=message]").val() },
                    type: "POST",
                    dataType: 'json',
                    success: function (data) {
                        debugger;
                        alert('Mail has been sent to admin. You will be contacted shortly.');
                        return false;
                    },
                    error: function () {

                        alert("Dynamic content load failed.");
                    }
                });
            }
        });
    });
		
</script>
