
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <!--Page Title-->
<section class="page-title" style="background-image: url(../Content/images/background/bg-page-title.jpg);">
    <div class="auto-container">
        <div class="sec-title">
            <h2>Our Services</h2>
        </div>
    </div>
</section>

<!--Breadcrumb-->
<div class="breadcrumb-outer">
    <div class="auto-container">
        <div class="bread-crumb text-center"><a href="~/Home/Index">Home</a> / <a href="#">Insurance Websites</a> </div>
    </div>
</div>


          <div class="insurance_services">
	<div class="container">
	<div class="row">
	<div class="col-sm-6 col-md-6">
	<div class="insurance-text">
	<h2>Insurance Websites</h2>
	<h5>It is important to remember that your website reflects your Company's Image. Only4Agents know the needs of all insurance agents Brokers.</h5><p> Our team of trained web designers and insurance experts can provide support and guidance that is specific to your needs. Our customized insurance agent websites are an ideal solution for agents or brokers that want to establish a professional and effective website, improve their search engine rankings, and increase leads for your agency.  </p>
	</div>
	</div>
		<div class="col-sm-6 col-md-6">
		<div class="inc-img">

	<img src="../content/images/insurance.jpg">
</div></div>
	</div>
		
		</div>
		</div>
<div class="container">
<div class="insurance_content">
<div class="text-inc">
<p>   Our customized insurance agent websites are an ideal solution for agents or brokers that want to establish a professional and effective website, improve their search engine rankings, and increase leads for your agency.</p>
	
<p> You select your design theme and a custom color scheme - and we will customize the pages, menu, text, and photos for each agency based on the lines of insurance you sell, your location/market, and your agency’s specific needs. With 30+ website designs choices and customization to match your branding, you get a unique site. Our focus is on creating stunning designs and then converting that to a fully functioning. The bottom line is our sites create results, whether you are looking for a lead generating website. </p>
<p> Developing an insurance website is a lot different to other service-based businesses. The website must be designed in a way that the users get most important information before everything else. Only4Agents understands the science of website design that ensures engaging your target audience at first sight while the development team takes care of the technical part for great performance of the website. </p>
</div>
<div class="row">
<div class="col-md-8">
<div class="insurance-text">


<h4> Insurance Website Features:  </h4>
<ul>

<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>  Better Navigability </li>
<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>  Higher Security </li>
<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>   Engaging Pages & Content</li>
<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i> SEO-Friendly</li>


</ul>
<p> Custom website design and development solutions for the mortgage industry to transform your online presence into a more robust, innovative one with the experts at Only4Agents. As a leader in the website design and development industry, we take care of the heavy upfront work while you enjoy great results. Our professional and certified team members create mortgage websites with unmatched customization, while the easy-to-use admin panel gives clines easy content editing ability And your website is SEO-Ready so you take the lead on search engine results without investing hefty marketing campaigns to reach on the top of search results as you’d be there easily. </p>

<p>All our Insurance Websites are 100% mobile-responsive, designed to look great on every device. This also allows you to take advantage of Google’s new rules that favor mobile friendly websites!</p>

</div>
</div>

<div class="col-md-4">
<div class="insurance_img">
<img src="../content/images/m1.jpg">
</div></div>
</div>
</div>
</div>

<div class="container">
<div  class="row">
<div class="col-md-12">           
                     
                     
<blockquote class="style-one">     With our team of passionate designers, we design websites that offer superior user experience on multiple web browsers and platforms.</blockquote>
<center><a href="~/Home/Portfolio" class="btn btn-primery pr">see my portfolio</a></center>

                               </div>
</div>
</div>
	<div class="sidebar">
		<div class="container">
		<div class="row">
		<div class="col-md-6">
		                        <div class="widget sidebar-widget downloads">
                            <h3>Our Brochure</h3>
                            <div class="text">Our latest Real Estate brochure for easy to read guide all of the services offered.</div>
                            <ul>
                                <li><a href="#">Download PDF</a></li>
                            </ul>
                        </div>
                        </div>
		<div class="col-md-6">
		 <div class="widget sidebar-widget contact-widget">
                            <h3>Have any Questions?<br>Call Us:</h3>
                            <div class="phone-numbers">
                            	+1 416-844-5725
                            </div>
                            <h3>For Details</h3>
                        </div>
                       </div>
</div>
</div>
</div>


