@{
    Layout =  "~/Views/Shared/_Layout.cshtml";
}

        <!--Page Title-->
        <section class="page-title" style="background-image: url(../Content/images/background/bg-page-title.jpg);">
            <div class="auto-container">
                <div class="sec-title">
                    <h1>Portfolio</h1>
                </div>
            </div>
        </section>

        <!--Breadcrumb-->
        <div class="breadcrumb-outer">
            <div class="auto-container">
                <div class="bread-crumb text-center"><a href="~/Home/Index">Home</a> / <a href="#" class="current">Portfolio</a></div>
            </div>
        </div>


        <!--Our Services-->
        <section class="projects-section padd-bott-50">
            <div class="auto-container">

                <!--Filter-->
                <div class="filters text-center">
                    <ul class="filter-tabs filter-btns clearfix anim-3-all">
                        <li class="active filter" data-role="button" data-filter="all">All</li>
                        <li class="filter" data-role="button" data-filter=".financial">Real Estate Website Design</li>
                        <li class="filter" data-role="button" data-filter=".bonds">Other Website Design</li>
                        <li class="filter" data-role="button" data-filter=".trust">Condo Website Design</li>
                        <li class="filter" data-role="button" data-filter=".marketing">Only4Agents App</li>
                    </ul>
                </div>

                <!--Filter List-->
                <div class="row filter-list clearfix">

                    <!--Project Column -->
                    <div class="column project-column mix mix_all financial col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><a href="http://www.ajayshah.ca/"><img src="../Content/images/resource/project-image-1.jpg" alt="AJ Shah Website"></a></figure>
                            <div class="lower-content">
                                <div class="project-cat"><a>Real Estate Website Projects <span class="fa fa-angle-right"></span></a></div>
                                <h3><a href="http://www.ajayshah.ca/">Ajay Shah</a></h3>
                            </div>
                        </div>
                    </div>

                    <!--Project Column -->
                    <div class="column project-column mix mix_all financial  col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><a href="http://www.mkaleem.com/"><img src="../Content/images/resource/project-image-2.jpg" alt="Mohammad Kaleem"></a></figure>
                            <div class="lower-content">
                                <div class="project-cat"><a>Real Estate Website Projects <span class="fa fa-angle-right"></span></a></div>
                                <h3><a href="http://www.mkaleem.com/">Mohammad Kaleem</a></h3>
                            </div>
                        </div>
                    </div>

                    <!--Project Column -->
                    <div class="column project-column mix mix_all financial col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><a href="http://www.soldbyparm.com/"><img src="../Content/images/resource/project-image-3.jpg" alt="Parm Grewal Website"></a></figure>
                            <div class="lower-content">
                                <div class="project-cat"><a>Real Estate Website Projects <span class="fa fa-angle-right"></span></a></div>
                                <h3><a href="http://www.soldbyparm.com/">Parm Grewal</a></h3>
                            </div>
                        </div>
                    </div>

                    <!--Project Column -->
                    <div class="column project-column mix mix_all financial  col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><a href="http://www.propertyfriendz.com/"><img src="../Content/images/resource/project-image-5.jpg" alt="Property Friendz Website"></a></figure>
                            <div class="lower-content">
                                <div class="project-cat"><a>Real Estate Website Projects <span class="fa fa-angle-right"></span></a></div>
                                <h3><a href="http://www.propertyfriendz.com/">Khan Zaib & Raza Naqvi</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="column project-column mix mix_all financial  col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><a href="http://www.anishrealty.com"><img src="../Content/images/resource/project-image6.jpg" alt="Anish Realty Website"></a></figure>
                            <div class="lower-content">
                                <div class="project-cat"><a>Real Estate Website Projects <span class="fa fa-angle-right"></span></a></div>
                                <h3><a href="http://www.anishrealty.com/">Anish Gupta</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="column project-column mix mix_all financial  col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><a href="http://mandbaljit.ca/"><img src="../Content/images/resource/real-estate-image.jpg" alt="Mand Baljit Website"></a></figure>
                            <div class="lower-content">
                                <div class="project-cat"><a>Real Estate Website Projects <span class="fa fa-angle-right"></span></a></div>
                                <h3><a href="http://mandbaljit.ca/">Baljit Mand</a></h3>
                            </div>
                        </div>
                    </div>


                    <!--Project Column -->
                    <div class="column project-column mix mix_all financial col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><a href="http://propertiesbykelly.ca/"><img src="../Content/images/resource/project-image-15.jpg" alt="Properties by Kelly Website"></a></figure>
                            <div class="lower-content">
                                <div class="project-cat"><a>Real Estate Website Projects <span class="fa fa-angle-right"></span></a></div>
                                <h3><a href="http://propertiesbykelly.ca/">Kelly Bajwa</a></h3>
                            </div>
                        </div>
                    </div>

                    <!--Project Column -->
                    <div class="column project-column mix mix_all financial col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><a href="http://annageorgerealtor.com/"><img src="../Content/images/resource/project-image-16.jpg" alt="Anna George Realtor"></a></figure>
                            <div class="lower-content">
                                <div class="project-cat"><a>Real Estate Website Projects <span class="fa fa-angle-right"></span></a></div>
                                <h3><a href="http://annageorgerealtor.com/">Anna George</a></h3>
                            </div>
                        </div>
                    </div>

                    <!--Project Column -->
                    <div class="column project-column mix mix_all bonds col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><a href="http://amitkhurana.ca/"><img src="../Content/images/resource/project-image-4.jpg" alt="Amit Khurana Website"></a></figure>
                            <div class="lower-content">
                                <div class="project-cat"><a>Other Website Projects <span class="fa fa-angle-right"></span></a></div>
                                <h3><a href="http://www.amitkhurana.ca/">Amit Khurana</a></h3>
                            </div>
                        </div>
                    </div>

                    <!--Project Column -->
                    <div class="column project-column mix mix_all  bonds col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><a href="http://goldenlifesolutions.com/"><img src="../Content/images/resource/project-image-6.jpg" alt="Golden Life Solutions"></a></figure>
                            <div class="lower-content">
                                <div class="project-cat"><a>Other Website Projects <span class="fa fa-angle-right"></span></a></div>
                                <h3><a href="http://goldenlifesolutions.com/">Golden Life</a></h3>
                            </div>
                        </div>
                    </div>
                    <!--Project Column -->
                    <div class="column project-column mix mix_all  bonds col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><a href="http://maharishiherbalproducts.ca/"><img src="../Content/images/resource/project-image7.jpg" alt="Maharishi Herbal Products"></a></figure>
                            <div class="lower-content">
                                <div class="project-cat"><a>Other Website Projects <span class="fa fa-angle-right"></span></a></div>
                                <h3><a href="http://maharishiherbalproducts.ca/">Maharishi Herbal</a></h3>
                            </div>
                        </div>
                    </div>
                    <!--Project Column -->
                    <div class="column project-column mix mix_all  bonds col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><a href="http://www.simransaini.com/"><img src="../Content/images/resource/project-image8.jpg" alt="Simran Saini"></a></figure>
                            <div class="lower-content">
                                <div class="project-cat"><a>Other Website Projects <span class="fa fa-angle-right"></span></a></div>
                                <h3><a href="http://www.simransaini.com/">Simran Saini</a></h3>
                            </div>
                        </div>
                    </div>
                    <!--Project Column -->
                    <div class="column project-column mix mix_all  bonds col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><a href="http://rplcanada.com/"><img src="../Content/images/resource/project-image10.jpg" alt="RPL Canada"></a></figure>
                            <div class="lower-content">
                                <div class="project-cat"><a>Other Website Projects <span class="fa fa-angle-right"></span></a></div>
                                <h3><a href="http://rplcanada.com/">RPL Canada</a></h3>
                            </div>
                        </div>
                    </div>
                    <!--Project Column -->
                    <div class="column project-column mix mix_all  bonds col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><a href="http://royalcrownstucco.com/"><img src="../Content/images/resource/project-image11.jpg" alt="Royal Crown Stucco"></a></figure>
                            <div class="lower-content">
                                <div class="project-cat"><a>Other Website Projects <span class="fa fa-angle-right"></span></a></div>
                                <h3><a href="http://royalcrownstucco.com/">Royal Crown</a></h3>
                            </div>
                        </div>
                    </div>
                    <!--Project Column -->
                    <div class="column project-column mix mix_all trust col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><a href="http://edgetowerscentre.com/"><img src="../Content/images/resource/project-image12.jpg" alt="Edge Tower Centre"></a></figure>
                            <div class="lower-content">
                                <div class="project-cat"><a>Condo Website Projects <span class="fa fa-angle-right"></span></a></div>
                                <h3><a href="http://edgetowerscentre.com/">Edge Tower</a></h3>
                            </div>
                        </div>
                    </div>
                    <!--Project Column -->
                    <div class="column project-column mix mix_all trust col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><a href="http://www.southsidebrampton.com/"><img src="../Content/images/resource/project-image13.jpg" alt="South Side Brampton"></a></figure>
                            <div class="lower-content">
                                <div class="project-cat"><a>Condo Website Projects <span class="fa fa-angle-right"></span></a></div>
                                <h3><a href="http://www.southsidebrampton.com/">South Side Brampton</a></h3>
                            </div>
                        </div>
                    </div>
                    <!--Project Column -->
                    <div class="column project-column mix mix_all trust col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><a href="http://teamrajiv.ca/"><img src="../Content/images/resource/project-image-17.jpg" alt="Team Rajiv Website"></a></figure>
                            <div class="lower-content">
                                <div class="project-cat"><a>Condo Website Projects <span class="fa fa-angle-right"></span></a></div>
                                <h3><a href="http://teamrajiv.ca/">Team Rajiv</a></h3>
                            </div>
                        </div>
                    </div>
                    <!--Project Column -->
                    <div class="column project-column mix mix_all trust col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><a href="http://zen.condos/"><img src="../Content/images/resource/project-image14.jpg" alt="Zen Condos"></a></figure>
                            <div class="lower-content">
                                <div class="project-cat"><a>Condo Website Projects <span class="fa fa-angle-right"></span></a></div>
                                <h3><a href="http://zen.condos/">Zen Condos</a></h3>
                            </div>
                        </div>
                    </div>
                    <!--Project Column -->
                    <div class="column project-column mix mix_all marketing col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><a href="https://play.google.com/store/apps/details?id=com.home_life.onlyforagents.communication_app&hl=en"><img src="../Content/images/resource/project-image9.jpg" alt="ONLY4AGENTS APP"></a></figure>
                            <div class="lower-content">
                                <div class="project-cat"><a>App Development <span class="fa fa-angle-right"></span></a></div>
                                <h3><a href="https://play.google.com/store/apps/details?id=com.home_life.onlyforagents.communication_app&hl=en">Only4Agents</a></h3>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>




