@{
    Layout = null;
}
<!--Page Title-->
<section class="page-title" >
    <div class="auto-container">
        <div class="sec-title">
            <h1>About Us</h1>
        </div>
    </div>
</section>

<!--Breadcrumb-->
<div class="breadcrumb-outer">
    <div class="auto-container">
        <div class="bread-crumb text-center"><a href="~/Home/Index">Home</a> / <a href="#" class="current">About Us</a></div>
    </div>
</div>


<!--Default Section-->
<section class="default-section padd-bott-50">
    <div class="auto-container">
       
        <div class="row clearfix">


            <!--Text Column -->
            <div class="column text-column col-md-12 col-sm-12 col-xs-12">
                <div class="default-title"><h2>Why work with us?</h2></div>
                <div class="inner-box padd-right-20">

                    <div class="text padd-bott-30">
                        <p>
                            <strong><i class="fa fa-check-circle icon-set" aria-hidden="true"></i> One Stop Solution</strong><br/>
Only4Agents is a one-stop shop for global businesses, aiming to grab the possible opportunities. We offer web design, web development, digital marketing, graphic design and a lot more to make things easier for you.
<br/>
<strong><i class="fa fa-check-circle icon-set" aria-hidden="true"></i> Flawless Job History</strong><br/>
More than 500 projects already delivered and hundreds of happy clients speak for us on digital world. If you don’t trust our words, you can trust on them!

                    </p>
                        <p>
<strong> <i class="fa fa-check-circle icon-set" aria-hidden="true"></i>We Speak Your Language</strong><br/>
Language barriers mean nothing to us as we’re proficient in almost every known language to the human brain. Just let us know the language you’re comfortable with, and we’ll use that only.<br/>
<strong> <i class="fa fa-check-circle icon-set" aria-hidden="true"></i>Strong Team</strong> <br/>
Our team of experts consists of highly skilled and dedicated professionals who are ready to make your every wish come true. Whether you need custom web solution experts or marketing campaign strategists, we’ve got them in our team.<br/>
<strong> <i class="fa fa-check-circle icon-set" aria-hidden="true"></i>Peace of Mind</strong><br/>
With the experts and years of professionalism record, you can be sure that your project is in the right hands. We love to create tailored, amazing experiences for brands like yours.

                        </p>


                    </div>

                </div>
            </div>


        </div>
        <div class="row clearfix">


            <!--Text Column -->
            <div class="column text-column col-md-12 col-sm-12 col-xs-12">
                <div class="inner-box padd-right-20">



                </div>
            </div>


        </div>
    </div>
</section>





<!--Testimonials-->
<section class="services-style-one bg-lightgrey">
    <div class="auto-container">

        <div class="title-box text-center">
            <h2>Provide service since <em class="theme_color">5 years</em> with trust </h2>

        </div>

        <div class="boxed-services clearfix">

            <!--Boxed Icon Column-->
            <div class="column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="boxed-icon-column">
                    <a href="#" class="inner-box">
                        <div class="icon-box"><span class="flaticon-social-2"></span></div>
                        <h3>Experienced</h3>
                        <div class="text">We have 5 years experience providing real estate web solutions.</div>
                    </a>
                </div>
            </div>

            <!--Boxed Icon Column-->
            <div class="column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="boxed-icon-column">
                    <a href="#" class="inner-box">
                        <div class="icon-box"><span class="flaticon-briefcase-1"></span></div>
                        <h3>Professional</h3>
                        <div class="text">We always handle challenges professional boundary and maintain our prestige.</div>
                    </a>
                </div>
            </div>

            <!--Boxed Icon Column-->
            <div class="column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="boxed-icon-column">
                    <a href="#" class="inner-box">
                        <div class="icon-box"><span class="flaticon-business-3"></span></div>
                        <h3>Vibrant</h3>
                        <div class="text">A qualifid, enthusiastic team is always here to help.</div>
                    </a>
                </div>
            </div>

            <!--Boxed Icon Column-->
            <div class="column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="boxed-icon-column">
                    <a href="#" class="inner-box">
                        <div class="icon-box"><span class="flaticon-business-7"></span></div>
                        <h3>Teamwork</h3>
                        <div class="text">A commitment to common goals based on open and honest communication.</div>
                    </a>
                </div>
            </div>

            <!--Boxed Icon Column-->
            <div class="column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="boxed-icon-column">
                    <a href="#" class="inner-box">
                        <div class="icon-box"><span class="flaticon-security"></span></div>
                        <h3>Trustworthy</h3>
                        <div class="text">
                            Once you choose Only4Agents, you can reply trust upon.
                        </div>
                    </a>
                </div>
            </div>

            <!--Boxed Icon Column-->
            <div class="column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="boxed-icon-column">
                    <a href="#" class="inner-box">
                        <div class="icon-box"><span class="flaticon-favorite"></span></div>
                        <h3>Personality</h3>
                        <div class="text">Our team is very hardworking to complete projects and fulfil client's need.</div>
                    </a>
                </div>
            </div>

        </div>

    </div>
</section>


<!--Fact Counter-->
<section class="fact-counter" >
    <div class="auto-container">
        <div class="row clearfix">
            <div class="counter-outer clearfix">
                <!--Column-->
                <article class="column counter-column col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="0ms">
                    <div class="icon"><span class="flaticon-briefcase-1"></span></div>
                    <div class="count-outer"><span class="count-text" data-speed="1500" data-stop="450">0</span>+</div>
                    <h4 class="counter-title">Total Projects</h4>
                </article>

                <!--Column-->
                <article class="column counter-column col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="0ms">
                    <div class="icon"><span class="flaticon-cup-2"></span></div>
                    <div class="count-outer"><span class="count-text" data-speed="1000" data-stop="950">0</span>+</div>
                    <h4 class="counter-title">Total Advisors</h4>
                </article>

                <!--Column-->
                <article class="column counter-column col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="0ms">
                    <div class="icon"><span class="flaticon-people-2"></span></div>
                    <div class="count-outer"><span class="count-text" data-speed="1000" data-stop="600">0</span>+</div>
                    <h4 class="counter-title">Total Clients</h4>
                </article>

                <!--Column-->
                <article class="column counter-column col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="0ms">
                    <div class="icon"><span class="flaticon-food-6"></span></div>
                    <div class="count-outer"><span class="count-text" data-speed="1000" data-stop="1248">0</span></div>
                    <h4 class="counter-title">Cup of Coffee</h4>
                </article>
            </div>
        </div>
    </div>
</section>


<!--Sponsors Section-->
<section class="sponsors-section no-padd-top">
    <div class="auto-container">
        <div class="slider-outer">
            <!--Sponsors Slider-->
            <ul class="sponsors-slider">
               


            </ul>
        </div>

    </div>
</section>
