@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Page Title-->
<section class="page-title" style="background-image: url(../Content/images/background/bg-page-title.jpg);">
    <div class="auto-container">
        <div class="sec-title">
            <h1>Thank You</h1>
        </div>
    </div>
</section>




<div class="img_thanku">
<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2">
<center><img src="~/Content/images/Thank-you-in-red-color-Tnku01201.jpg" height="350px" width="350px" ></center>
</div>

   
	</div>
	</div>
	</div>


  <!-- Event snippet for Website Conversion conversion page -->
<script>
        gtag('event', 'conversion', { 'send_to': 'AW-798251570/2sUkCMmrvIUBELK00fwC' });
    </script>
<script>
    var delay = 10000;
    setTimeout(function () { window.location = '/Home/Index'; }, delay);
</script>